---
layout: archive
title: "Projects"
permalink: /portfolio/
author_profile: true
---
Unfortunately, due to Unviersity honor code restrictions, I cannot publicly post the code/document for many of these projects. However, if you are interested in viewing specific projects, please contact me.

Cache Simulator (April 2022): Wrote a simulator for a processor cache with flexible associativity,number of sets, and block size parameters for the LC-2K instruction set.

Construction of Real Numbers (April 2022): Constructed the Real Numbers using Dedekind Cuts for a final project for an Analysis class

Pipelined-Processor Simulator (March 2022): Wrote a simulator for a five-stage pipelined processor for the LC-2K instruction set capable of handling data hazards with data forwarding and speculate-and-squash for control/branch hazards.

TSP solver (December 2021): Made a program that could give an optimal solution for small cases of the travelling salesman problem using a branch and bound algorithm as well as an approximation for larger cases.

Log Manager (November 2021): Wrote a program that could read in a log file and query and sort its contents by keywords, category, and timestamp.

{% include base_path %}


{% for post in site.portfolio %}
  {% include archive-single.html %}
{% endfor %}

